extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Wes Heginbotham

        p.lead.text-light
          | Investment Analyst
          br
          | Full Stack JavaScript Developer
          br
          | Lifelong Learner

        .portfolio-bio
          p
            | Highly motivated analyst and developer with experience on both the corporate and investment sides of finance. Interested in opportunities in FinTech and quantitative analysis.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li Python
          li Excel
          li VBA
          li SQL 
          li Express
        h6 Contact Info

        ul
          li 252-562-5692
          li wesheg@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/wes-heginbotham-cfa-32564973/') LinkedIn
        a.button.expanded(href='https://github.com/wesheg') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  